[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
django_on_heroku = "*"
dj-database-url = "*"
rest_framework = "*"
corsheaders = "*"
rest_framework_simplejwt = "*"
rest_framework_simplejwt.token_blacklist = "*"

[dev-packages]

[requires]
python_version = "3.10"
